.navbar {
  background-color: #242424;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  max-width: 1500px;
  padding: 0 50px;
}

.nav-logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.nav-item {
  height: 80px;
}

.nav-link {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #4b59f7;
  transform: translateY(-3px);
}

.active {
  border-bottom: 4px solid #4b59f7;
}

/* Active link style */
.nav-link.active {
  color: #3498db;
  font-weight: bold;
  border-bottom: 2px solid #3498db;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  width: 100%;
}

.nav-center-group {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.nav-login {
  margin-left: auto;
}
